version: '3.9'

services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        API_URL: ${VITE_API_URL} # pris depuis ton .env.production local
    image: nico-front:latest
    environment:
      - PORT=3000
    ports:
      - "3000:3000"
